/* Global Values */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: #252d37;
--Very-Dark-Blue: #121417;
--orange : #f67917;
}
body {
    min-height: 100vh;
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    padding: 20px;
    flex-direction: column;
}
ul {
    list-style: none;
}
/* Global Values */
/* container */
.container {
    background: rgb(37,45,55);
    background: linear-gradient(180deg, rgb(33, 40, 49) 0%, rgba(25,31,41,1) 90%);
    max-width: 400px;
    min-width: 200px;
    padding: 30px;
    border-radius: 25px;
    height: 372px;
}
/* container */
.box.rate {
    text-align: center;
}
/* image */
.container .star {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-Blue);
    width: fit-content;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
}
/* image */
/* h2 */
h2 {
    color: var(--White);
    margin-bottom: 10px;
    font-size: 28px;
}
/* h2 */
/* p  */
.sup {
    color: var(--Light-Grey);
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}
/* p  */
/* rate */
ul.rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* Active */

/* Active */
ul.rate li {
    color: var(--Medium-Grey);
    background-color: var(--Dark-Blue);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}
li.active {
    background-color: var(--Medium-Grey) !important;
    color: var(--White) !important;
}
ul.rate li:hover {
    color: var(--White) ;
    background-color: var(--orange);
}
/* rate */
/* button */
button {
    border: none;
    background-color: var(--orange);
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--White);
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    color:var(--orange);
    background-color: var(--White);
}
/* button */
/* img rate */
.imgRate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imgRate img {
    width: 130px;
}
/* img rate */
/*rateText*/
    p.rateText {
        margin-inline: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        width: fit-content;
        font-size: 0.8rem;
        background-color: var(--Dark-Blue);
        color: var(--orange);
        padding: 10px 20px;
        border-radius: 20px;
    }
/*rateText*/
/* attribute */
    .attribution {
        position: absolute;
        bottom: 10px;
    color: var(--White);
    }
    
/* attribute */
